# unconventional js
/blueprints/*/files/
/vendor/

# compiled output
/dist/
/tmp/

# dependencies
/bower_components/
/node_modules/

# misc
/coverage/
!.*
.*/
.eslintcache

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try

# snippets
/tests/dummy/snippets/

# jsdoc assets
/tests/dummy/public/

# FIXME: Some reason the decorators in this file are causing:
# Parsing error: This experimental syntax requires enabling one of the following parser plugin(s): 'decorators-legacy, decorators'
tests/dummy/app/controllers/application.js
