<div style="height: 40px; background: #4d79ca; color: white; font-weight: bold;">
  {{#with leftButton as |lb|}}
    <div class="app-header-left-button" {{action 'leftButton'}}>[&lt;-]</div>
  {{/with}}
  <div class="app-header-title">{{frameComponent.header.title}}</div>
</div>