<div class="nav-stack">
  {{ecr-header
      state=currentState
      mountedRouter=this.mountedRouter}}

  {{#animated-each currentStates key="key" use=transition duration=150 as |s|}}
    <div class="stack-frame">
      {{component s.componentName
          config=s.config
          state=s.routeState
          mountedRouter=this.mountedRouter}}
    </div>
  {{/animated-each}}
</div>
