<div>
  {{input checked=isDebugMode type='checkbox'}} Debug Mode
</div>

{{#each visibleFrames key="id" as |f|}}
  <div class="nav-frame">
    {{#-with-dynamic-vars outletState=f.value.outletState}}
      {{#if isDebugMode}}
        <div>
          debug: Frame ID: {{f.id}}
        </div>
        <div>
          FrameScope:
          {{#each-in f.frameScope.registry as |k v|}} {{k}} {{/each-in}}
        </div>
      {{/if}}

      {{component f.value.componentName}}
    {{/-with-dynamic-vars}}
  </div>
{{/each}}

<div style="clear:both;"></div>