<h1>Sign in</h1>

<div style="zoom:0.5;">
  {{#if showStack}}
    {{nav-stack stateString=stateString map=map2}}
  {{else}}
    <button {{action 'enableStack'}}>EnableStack</button>
  {{/if}}
</div>

{{debug-scope numChildren=2}}