<div style="border: 1px solid #aaa; background-color: rgba(0,0,0,0.05); padding: 5px;">

  <p>
    x-foo component<br>
    scopedService myRouter <strong>{{routerGuid}}</strong>
  </p>
  {{#each children}}
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{x-foo numChildren=0}}
    {{/if}}
  {{/each}}

</div>
