body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  line-height: 60px;
  border-bottom: 1px solid #8800ff;
  display: flex;
  padding: 8px 12px;
  margin-bottom: 12px;
}

header img {
  flex: 0 0 auto;
}

header h1 {
  font-family: Georgia, serif;
  color: #8800ffcc;
  line-height: 60px;
  margin:0 0 0 8px;
  font-size: 40px;
  padding:0;
}

.outer-container {
  display: flex;
  justify-content: space-evenly;
}

.debug-info {
  max-width: 400px;
  padding: 15px;
}

.debug-info p {
  margin: 0;
  margin-bottom: 15px;
}

.ecr-app-container {
  background-color: #ccffee;
  width: 300px;
  height: 500px;
  flex-shrink: 0;
}

.app-header {
  background-color: #5555ff;
  color: white;
  font-size: 1.5rem;
  height: 3rem;
  line-height: 3rem;
}

.app-header-title {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
}

.ecr-stack-frame {
  background: rgba(255,255,255,0.3);
}

a.back-button {
  text-decoration: none;
  color: white;
}

pre {
  margin: 0;
  margin-left: 3px;
  font-size: 11px;
}

/* begin app copy pasta */

.ecr-app-container, .ecr-stack, .ecr-switch {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.ecr-stack, .ecr-switch {
  flex: 1;
  height: 100%;
}

.ecr-stack-frame {
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.3);
  flex: 1;
}
