body {
  padding: 20px;
}

.mobile-frame {
  border: 1px solid black;
  width: 320px;
  height: 570px;
  padding: 10px;
}

.nav-frame {
  width: 400px;
  height: 500px;
  border: 1px solid black;
  float: left;
  position: relative;
  overflow: scroll;
  font-size: 60%;
}
