<div class="nav-stack">
  {{ecr-header
      state=currentState
      mountedRouter=this.mountedRouter}}

  {{#each currentStates key="key" as |s|}}
    <div class="stack-frame">
      {{! TODO: shared helper for rendering "routeable" components? }}
      {{component s.componentName
          config=s.config
          state=s.routeState
          params=s.routeState.params
          mountedRouter=this.mountedRouter}}
    </div>
  {{/each}}
</div>
