{{nav-stack navStack=navStack frames=frames}}

{{#if debug}}
  <div class="nav-stack-debug-container">
    {{nav-stack-debug navStack=navStack frames=frames}}
  </div>
{{/if}}


{{!outlet}}

<div class="debug-mode-control">
  {{input checked=debug type='checkbox'}} Debug Mode
</div>