<header>
  <img
    src="./ember-navigator-mark.svg"
    width="60"
    height="60"
    alt="Ember Navigator"
  />
  <h1>Ember Navigator</h1>
</header>

<div class="outer-container">
  Once upon a time, there was a demo here, but no longer.
</div>