<h2>Login</h2>

<p>
  You can only see the page when currentUser service has no model
</p>

<p>
  <input type="text" placeholder="username"><br>
  <input type="passworld" placeholder="password"><br>

</p>